<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <title>用户主页</title>
    <link rel="icon" th:href="@{/publicimage/logo.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/admincss/adminMain.css}" media="all"/>
    <script type="text/javascript" src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/adminjs/adminMain.js}"></script>
</head>
<body class="childrenBody">
<div style="padding: 15px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3">
            <div class="grid-demo">
                <a href="javascript:;">
                    <div class="panel_icon" style="background-color: #1e9fff;">
                        <i class="layui-icon">&#xe770;</i>
                    </div>
                    <div class="panel_word" style="color: #1e9fff">
                        <span id="userCount"></span>
                        <cite>用户数量</cite>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3">
            <div class="grid-demo">
                <a href="javascript:;">
                    <div class="panel_icon" style="background-color: #d23711;">
                        <i class="layui-icon">&#xe770;</i>
                    </div>
                    <div class="panel_word" style="color: #d92e17;">
                        <span id="adminCount"></span>
                        <cite>管理员数量</cite>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3">
            <div class="grid-demo">
                <a href="javascript:;">
                    <div class="panel_icon" style="background-color: #009688;">
                        <i class="layui-icon">&#xe63c;</i>
                    </div>
                    <div class="panel_word" style="color: #009688;">
                        <span id="menuCount"></span>
                        <cite>菜单数量</cite>
                    </div>
                </a>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3">
            <div class="grid-demo">
                <a href="javascript:;">
                    <div class="panel_icon" style="background-color: #ee660d;">
                        <i class="layui-icon">&#xe705;</i>
                    </div>
                    <div class="panel_word" style="color: #ee660d;">
                        <span id="infoCount"></span>
                        <cite>资讯数量</cite>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <hr class="layui-bg-white">
    <blockquote class="layui-elem-quote">
        <p>欢迎使用智慧家庭信息管理系统，本系统提供用户管理、角色管理以及信息统计等功能</p>
    </blockquote>
    <hr class="layui-bg-white">
    <div class="row">
        <div class="sysNotice col">
            <blockquote class="layui-elem-quote title">最新资讯</blockquote>
            <div class="layui-elem-quote layui-quote-nm" id="infoDiv" style="height: 280px;overflow: auto">
            </div>

            <hr class="layui-bg-white">
            <blockquote class="layui-elem-quote title">系统基本参数</blockquote>
            <table class="layui-table" style="color: black">
                <colgroup>
                    <col width="150">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td>当前版本:</td>
                    <td class="version">V1.0.0</td>
                </tr>
                <tr>
                    <td>开发作者:</td>
                    <td class="author">Mr.Fan</td>
                </tr>
                <tr>
                    <td>网站首页:</td>
                    <td class="homePage">www.smarthome.cn</td>
                </tr>
                <tr>
                    <td>服务器环境:</td>
                    <td class="server">CentOS7</td>
                </tr>
                <tr>
                    <td>数据库版本:</td>
                    <td class="dataBase">MySQL 5.7.11.0</td>
                </tr>
                <tr>
                    <td>客户端系统:</td>
                    <td class="maxUpload">Windows10 64位 专业版</td>
                </tr>
                <tr>
                    <td>当前时间:</td>
                    <td class="userRights"><span id="sysTime"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="sysNotice col">
<!--            <video id="myvideo" width="100%" height="100%"  controls="controls" autobuffer="autobuffer" autoplay="autoplay"><source src="" type="video/mp4"/></video>-->
                <div class="layui-carousel login_height" id="login" lay-filter="login">
                    <div carousel-item="">
<!--                        <div>-->
<!--                            &lt;!&ndash;                    <div class="login_cont"></div>&ndash;&gt;-->
<!--                            <div class="background">-->
<!--                                <span></span><span></span><span></span>-->
<!--                                <span></span><span></span><span></span>-->
<!--                                <span></span><span></span><span></span>-->
<!--                                <span></span><span></span><span></span>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div>
                            <img th:src="@{/publicimage/05.jpg}" />
                        </div>
                        <div>
                            <img th:src="@{/publicimage/01.jpg}" />
                        </div>
                        <div>
                            <img th:src="@{/publicimage/03.jpg}" />
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</body>
</html>