<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>菜单权限配置页面</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/admincss/menuPortion.css" media="all"/>
    <script type="text/javascript" src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/adminjs/menuPortion.js"></script>
</head>
<body class="childrenBody">
<input type="hidden" id="method" name="method" value="">
<input type="hidden" id="adminRole" name="adminRole" value="">

    <div class="layui-btn-container">
        <button type="button" class="layui-btn layui-btn-normal showTree" style="margin-left: 20%;margin-top: 3%">
            显示所有菜单
        </button>
        <button type="button" class="layui-btn layui-btn-primary confirm" style="margin-top: 3%;" id="bu1" disabled="true">确定修改权限</button>
        <hr style="color: whitesmoke">
    </div>
    <div id="menuTree" class="demo-tree-more"></div>
</body>
</html>