<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>角色菜单权限分配管理</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/admincss/menuPwrMgr.css" media="all"/>
    <script type="text/javascript" src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/adminjs/menuPwrMgr.js"></script>
</head>
<body>
    <form class="layui-form" id="menuPwrForm">
        <blockquote class="layui-elem-quote news_search" id="searchTable">
            <div class="layui-inline">
                查询条件:
            </div>
            <div class="layui-inline">
                <input type="text" value="" id="roleName" placeholder="请输入角色名称" class="layui-input search_input">
            </div>
            <hr class="layui-bg-gray">
            <button type="button" class="layui-btn layui-btn-primary" data-type="reload"><i class="layui-icon">&#xe615;</i>查询</button>
            <button type="button" class="layui-btn layui-btn-normal" id="resetTable"><i class="layui-icon">&#xe669;</i>重置</button>
        </blockquote>
    </form>

    <table class="layui-hide" id="menuPwrMgrTable" lay-filter="menuPwrMgrTable"></table>

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="addMenuRole"><i class="layui-icon">&#xe624;</i>新增角色</button>
            <button class="layui-btn layui-btn-sm layui-btn-warm" id="findMenuDetailInfo" lay-event="findMenuDetailInfo"><i class="layui-icon">&#xe63c;</i>查看详情</button>
        </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-warm layui-btn-sm" lay-event="allot">权限分配</a>
    </script>

</body>
</html>