<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>系统资讯列表维护</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/admincss/protectInfo.css}" media="all"/>
    <script type="text/javascript" src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/adminjs/protectInfo.js}"></script>
</head>
<body class="childrenBody">
<hr class="layui-bg-gray">
<form class="layui-form" style="width:80%;top:0%">
    <div class="layui-form-item" style="display: none">
        <input type="hidden" id="method" name="method" value="">
    </div>
    <div class="layui-form-item" style="display: none">
        <input type="hidden" id="infoId" name="infoId" value="">
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">资讯标题:</label>
        <div class="layui-input-block">
            <input type="text" id="infoTitle" name="infoTitle" class="layui-input" lay-verify="infoTitle" autocomplete="off" placeholder="请输入资讯标题(最多30个汉字字母)">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">资讯内容:</label>
        <div class="layui-input-block">
            <textarea id="infoDetail" name="infoDetail"  lay-verify="infoDetail" autocomplete="off" placeholder="请输入资讯内容(最多1000个汉字字母)" class="layui-textarea" style="resize: none;height: 300px"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">发布人:</label>
        <div class="layui-input-block">
            <input type="text" id="crtPsnId" name="crtPsnId" class="layui-input" lay-verify="infoTitle" autocomplete="off" >
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">发布时间:</label>
        <div class="layui-input-block">
            <input type="text" id="crtTm" name="crtTm" class="layui-input" lay-verify="infoTitle" autocomplete="off" >
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit lay-filter="infoSubmit" id="infoSubmit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-danger" id="infoReset">重置</button>
            <button type="button" class="layui-btn layui-btn-primary"  id="returnPage">返回</button>
        </div>
    </div>

</form>
</body>
</html>