<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>用户信息维护</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/admincss/protectUser.css}" media="all"/>
    <script type="text/javascript" src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/adminjs/protectUser.js}"></script>
</head>
<body class="childrenBody">
<hr class="layui-bg-gray">
<form class="layui-form" style="width:80%;">
    <div class="layui-form-item" style="display: none">
        <input type="hidden" id="method" name="method" value="">
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户账号:</label>
        <div class="layui-input-block">
            <input type="text" id="userAccount" name="userAccount" class="layui-input" autocomplete="off" placeholder="请输入用户账号">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户名称:</label>
        <div class="layui-input-block">
            <input type="text" id="userName" name="userName" class="layui-input" autocomplete="off" placeholder="请输入用户名称">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">性别:</label>
        <div class="layui-input-block">
            <input type="radio" name="userSex" lay-filter= "userSex" value="0" title="男">
            <input type="radio" name="userSex" lay-filter= "userSex" value="1" title="女">
            <input type="radio" name="userSex" lay-filter= "userSex" value="2" title="保密" checked="">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">手机:</label>
        <div class="layui-input-block">
            <input type="text" id="userPhone" name="userPhone" class="layui-input" autocomplete="off" placeholder="请输入用户手机">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">QQ号码:</label>
        <div class="layui-input-block">
            <input type="text" id="userQq" name="userQq" class="layui-input" autocomplete="off" placeholder="请输入QQ号码">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">微信号码:</label>
        <div class="layui-input-block">
            <input type="text" id="userWechat" name="userWechat" class="layui-input" autocomplete="off" placeholder="请输入微信号码">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户状态:</label>
        <div class="layui-input-block">
            <input type="radio" name="userStatus" lay-filter= "userStatus" value="0" title="启用">
            <input type="radio" name="userStatus" lay-filter= "userStatus" value="1" title="禁用">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户角色:</label>
        <div class="layui-input-block">
            <input type="text" id="userRoleName" name="userRoleName" class="layui-input" autocomplete="off" placeholder="请输入用户角色">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn"  id="returnPage">返回</button>
        </div>
    </div>

</form>

</body>
</html>