<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.sh.smarthome.mapper.PublicMapper">

    <!--    查找省市区信息-->
    <resultMap type="com.group.sh.smarthome.entity.TblArea" id="areaListMap">
        <result column="AREA_ID" property="areaId"></result>
        <result column="AREA_CODE" property="areaCode"></result>
        <result column="AREA_NAME" property="areaName"></result>
        <result column="AREA_LVL" property="areaLvl"></result>
        <result column="AREA_PARENT_CODE" property="areaParentCode"></result>
    </resultMap>
    <select id="findAreaList" resultMap="areaListMap" parameterType="com.group.sh.smarthome.entity.TblArea">
        SELECT
        AREA_ID,AREA_CODE,AREA_NAME,AREA_LVL,AREA_PARENT_CODE
        FROM tbl_area
        <where>
            <if test="areaLvl != '' and areaLvl != null ">
                and  AREA_LVL = #{areaLvl}
            </if>
            <if test="areaCode != '' and areaCode != null ">
                and  AREA_CODE = #{areaCode}
            </if>
            <if test="areaParentCode != '' and areaParentCode != null ">
                and  AREA_PARENT_CODE = #{areaParentCode}
            </if>
        </where>
    </select>

    <!--    查找用户数量，用于后台主页-->
    <select id="findUserCount" resultType="java.lang.Long">
        select count(1) FROM tbl_user where DEL_ID = '0'
    </select>

    <!--    查找管理员数量，用于后台主页-->
    <select id="findAdminCount" resultType="java.lang.Long">
        select count(1) FROM tbl_admin where DEL_ID = '0'
    </select>

    <!--    查找菜单数量，用于后台主页-->
    <select id="findMenuCount" resultType="java.lang.Long">
        select count(1) FROM tbl_menu where DEL_ID = '0'
    </select>

    <!--    查找资讯数量，用于后台主页-->
    <select id="findInfoCount" resultType="java.lang.Long">
        select count(1) FROM tbl_info where DEL_ID = '0'
    </select>

    <!--    查找系统日志列表-->
    <resultMap type="com.group.sh.smarthome.entity.TblSyslog" id="logListMap">
        <result column="syslogId" property="syslogId"></result>
        <result column="syslogOperator" property="syslogOperator"></result>
        <result column="syslogDetail" property="syslogDetail"></result>
        <result column="syslogType" property="syslogType"></result>
        <result column="syslogResult" property="syslogResult"></result>
        <result column="syslogIp" property="syslogIp"></result>
        <result column="syslogTime" property="syslogTime"></result>
        <result column="crtTm" property="crtTm"></result>
    </resultMap>
    <select id="findSystemLogInfoList" resultMap="logListMap" parameterType="com.group.sh.smarthome.resultbean.PageListEntity">
        SELECT
            syslog.SYSLOG_ID as syslogId,
            syslog.SYSLOG_OPERATOR as syslogOperator,
            syslog.SYSLOG_OPERATOR_ACCOUNT as syslogOperatorAccount,
            syslog.SYSLOG_DETAIL as syslogDetail,
            syslog.SYSLOG_TYPE as syslogType,
            syslog.SYSLOG_RESULT as syslogResult,
            syslog.SYSLOG_IP as syslogIp,
            syslog.SYSLOG_TIME as syslogTime,
            syslog.CRT_TM as crtTm
        FROM tbl_system_log syslog
        <where>
            and syslog.DEL_ID = 0
            <if test="objectOne != '' and objectOne != null ">
                and  syslog.SYSLOG_ID = #{objectOne}
            </if>
            <if test="objectTwo != '' and objectTwo != null ">
                and  syslog.SYSLOG_OPERATOR like concat('%',#{objectTwo},'%')
            </if>
            <if test="objectThree != '' and objectThree != null ">
                and  syslog.SYSLOG_RESULT = #{objectThree}
            </if>
            <if test="objectFour != '' and objectFour != null ">
                and  syslog.SYSLOG_TYPE = #{objectFour}
            </if>
            <if test=" startTime != '' and startTime != null">
                <![CDATA[   and DATE_FORMAT(syslog.CRT_TM, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
            </if>
            <if test=" endTime != '' and endTime != null">
                <![CDATA[   and DATE_FORMAT(syslog.CRT_TM, '%Y-%m-%d')<=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')   ]]>
            </if>
        </where>
        order by syslog.CRT_TM desc limit #{page},#{limit}
    </select>

    <!--    查找系统日志列表条数-->
    <select id="findSystemLogInfoListCount" resultType="java.lang.Long" parameterType="com.group.sh.smarthome.resultbean.PageListEntity">
        select count(1)
        FROM tbl_system_log syslog
        <where>
            and syslog.DEL_ID = 0
            <if test="objectOne != '' and objectOne != null ">
                and  syslog.SYSLOG_OPERATOR like concat('%',#{objectOne},'%')
            </if>
            <if test="objectTwo != '' and objectTwo != null ">
                and  syslog.SYSLOG_RESULT = #{objectTwo}
            </if>
            <if test="objectThree != '' and objectThree != null ">
                and  syslog.SYSLOG_TYPE = #{objectThree}
            </if>
            <if test=" startTime != '' and startTime != null">
                <![CDATA[   and DATE_FORMAT(syslog.CRT_TM, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
            </if>
            <if test=" endTime != '' and endTime != null">
                <![CDATA[   and DATE_FORMAT(syslog.CRT_TM, '%Y-%m-%d')<=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')   ]]>
            </if>
        </where>
    </select>

    <!-- 用户数量统计（当前周）-->
    <select id="userStatistics" resultType="java.lang.Long" parameterType="java.lang.String">
        select count(*) as num
        from tbl_user
        where
        DATE_FORMAT(CRT_TM,'%Y-%m-%d') = (select subdate(curdate(),date_format(curdate(),'%w')-#{num})) and DEL_ID = 0;
    </select>

    <!-- 管理员数量统计（当前周）-->
    <select id="adminStatistics" resultType="java.lang.Long" parameterType="java.lang.String">
        select count(*) as num
        from tbl_admin
        where
        DATE_FORMAT(CRT_TM,'%Y-%m-%d') = (select subdate(curdate(),date_format(curdate(),'%w')-#{num})) and DEL_ID = 0;
    </select>

    <!-- 菜单数量统计（当前周）-->
    <resultMap type="com.group.sh.smarthome.entity.MenuTreeInfo" id="menuS">
        <result column="MENU_ID" property="menuId"></result>
        <result column="MENU_NAME" property="menuName"></result>
        <collection property="children" select="menuSCount" column="MENU_ID" ofType="com.group.sh.smarthome.entity.MenuTreeInfo"
                    javaType="list">
            <result column="count" property="count"></result>
        </collection>
    </resultMap>
    <select id="menuStatistics" resultMap="menuS" parameterType="java.lang.String">
        select MENU_ID,MENU_NAME from tbl_menu m1
        where m1.MENU_LEVEL = 0 ;
    </select>

    <select id="menuSCount" resultType="java.lang.Long" parameterType="java.lang.String">
        select COUNT(*) as count from tbl_menu where MENUSUB_ID = #{MENU_ID};
    </select>



    <!-- 资讯数量统计（当前周）-->
    <select id="infoStatistics" resultType="java.lang.Long" parameterType="java.lang.String">
        select count(*) as num
        from tbl_info
        where
                DATE_FORMAT(CRT_TM,'%Y-%m-%d') = (select subdate(curdate(),date_format(curdate(),'%w')-#{num})) and DEL_ID = 0;
    </select>

    <!-- 新增系统日志-->
    <insert id="addSysLogInfo" parameterType="com.group.sh.smarthome.entity.TblSyslog" useGeneratedKeys="true" keyProperty="syslogId">
        insert into
            tbl_system_log(SYSLOG_OPERATOR,SYSLOG_OPERATOR_ACCOUNT,SYSLOG_DETAIL,SYSLOG_TYPE,SYSLOG_RESULT,SYSLOG_IP,SYSLOG_TIME,
                           CRT_PSN_ID,CRT_TM,DEL_ID)values
        (#{syslogOperator},#{syslogOperatorAccount},#{syslogDetail},#{syslogType},#{syslogResult},#{syslogIp},#{syslogTime},
         #{crtPsnId},now(),'0')
    </insert>

</mapper>
