<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.sh.smarthome.mapper.TblUserMapper">

    <select id="getNextUserID" resultType="java.lang.String">
        SELECT AUTO_INCREMENT FROM INFORMATION_SCHEMA. TABLES WHERE TABLE_NAME = 'tbl_user'
    </select>

    <select id="userLogin" resultType="com.group.sh.smarthome.entity.TblUser" parameterType="com.group.sh.smarthome.entity.TblUser">
        select
            USER_ACCOUNT,USER_PWD,USER_NAME,USER_SEX,USER_AGE,USER_PHONE,
            USER_WORKPHONE,USER_JOB,USER_MAIL,USER_ADDRESS,USER_QQ,USER_WECHAT,
            USER_IDCARDTYPE,USER_IDCARDNUM,USER_HEADURL,USER_RESUME,USER_EDDGRCD,
            USER_DGRCD,USER_GRDT_SCHCD,USER_MJR,USER_GRDTM,USER_STATUS,
            CRT_PSN_ID,CRT_TM,MOD_PSN_ID,MOD_TM,DEL_ID,USER_ROLE
        from tbl_user
        <where>
            <if test="userAccount != '' and userAccount != null ">
                and USER_ACCOUNT = #{userAccount}
            </if>
            <if test="userPwd != '' and userPwd != null ">
                and USER_PWD = #{userPwd}
            </if>
        </where>

    </select>

    <select id="getUserInfoList" resultType="com.group.sh.smarthome.entity.TblUser" parameterType="com.group.sh.smarthome.entity.TblUser">
        select
            USER_ACCOUNT,USER_PWD,USER_NAME,USER_SEX,USER_AGE,USER_PHONE,
            USER_WORKPHONE,USER_JOB,USER_MAIL,USER_ADDRESS,USER_QQ,USER_WECHAT,
            USER_IDCARDTYPE,USER_IDCARDNUM,USER_HEADURL,USER_RESUME,USER_EDDGRCD,
            USER_DGRCD,USER_GRDT_SCHCD,USER_MJR,USER_GRDTM,USER_STATUS,
            CRT_PSN_ID,CRT_TM,MOD_PSN_ID,MOD_TM,DEL_ID,USER_ROLE
        from tbl_user
        <where>
            and DEL_ID = '0'
            <if test="userAccount != '' and userAccount != null ">
                and USER_ACCOUNT = #{userAccount}
            </if>
        </where>
        order by CRT_TM desc ,MOD_TM desc
    </select>

    <insert id="addUserInfo" parameterType="com.group.sh.smarthome.entity.TblUser" useGeneratedKeys="true" keyProperty="userId">
        insert into
        tbl_user(USER_ACCOUNT,USER_PWD,USER_NAME,USER_SEX,USER_AGE,USER_PHONE,
                 USER_WORKPHONE,USER_JOB,USER_MAIL,USER_ADDRESS,USER_QQ,USER_WECHAT,
                 USER_IDCARDTYPE,USER_IDCARDNUM,USER_HEADURL,USER_RESUME,USER_EDDGRCD,
                 USER_DGRCD,USER_GRDT_SCHCD,USER_MJR,USER_GRDTM,USER_STATUS,
                 CRT_PSN_ID,CRT_TM,MOD_PSN_ID,MOD_TM,DEL_ID,USER_ROLE)
        values
            (#{userAccount},#{userPwd},#{userName},#{userSex},#{userAge},#{userPhone},
             #{userWorkphone},#{userJob},#{userMail},#{userAddress},#{userQq},#{userWechat},
             #{userIdcardtype},#{userIdcardnum},#{userHeadurl},#{userResume},#{userEddgrcd},
             #{userDgrcd},#{userGrdtSchcd},#{userMjr},#{userGrdtm},#{userStatus},
             #{crtPsnId},now(),#{modPsnId},#{modTm},'0',#{userRole})
    </insert>

    <update id="updateUserInfo" parameterType="com.group.sh.smarthome.entity.TblUser">
        update tbl_user
        <set>
            DEL_ID = '0',
            MOD_TM = now(),
            <if test="userPwd != '' and userPwd != null">
                USER_PWD = #{userPwd},
            </if>
            <if test="userName != '' and userName != null">
                USER_NAME = #{userName},
            </if>
            <if test="userSex != '' and userSex != null">
                USER_SEX = #{userSex},
            </if>
            <if test="userAge != '' and userAge != null">
                USER_AGE = #{userAge},
            </if>
            <if test="userPhone != '' and userPhone != null">
                USER_PHONE = #{userPhone},
            </if>
            <if test="userWorkphone != '' and userWorkphone != null">
                USER_WORKPHONE = #{userWorkphone},
            </if>
            <if test="userJob != '' and userJob != null">
                USER_JOB = #{userJob},
            </if>


            <if test="userMail != '' and userMail != null">
                USER_MAIL = #{userMail},
            </if>
            <if test="userAddress != '' and userAddress != null">
                USER_ADDRESS = #{userAddress},
            </if>
            <if test="userQq != '' and userQq != null">
                USER_QQ = #{userQq},
            </if>
            <if test="userWechat != '' and userWechat != null">
                USER_WECHAT = #{userWechat},
            </if>
            <if test="userIdcardtype != '' and userIdcardtype != null">
                USER_IDCARDTYPE = #{userIdcardtype},
            </if>
            <if test="userIdcardnum != '' and userIdcardnum != null">
                USER_IDCARDNUM = #{userIdcardnum},
            </if>
            <if test="userHeadurl != '' and userHeadurl != null">
                USER_HEADURL = #{userHeadurl},
            </if>
            <if test="userResume != '' and userResume != null">
                USER_RESUME = #{userResume},
            </if>

            <if test="userEddgrcd != '' and userEddgrcd != null">
                USER_EDDGRCD = #{userEddgrcd},
            </if>
            <if test="userDgrcd != '' and userDgrcd != null">
                USER_DGRCD = #{userDgrcd},
            </if>
            <if test="userGrdtSchcd != '' and userGrdtSchcd != null">
                USER_GRDT_SCHCD = #{userGrdtSchcd},
            </if>
            <if test="userStatus != '' and userStatus != null">
                USER_STATUS = #{userStatus},
            </if>
            <if test="modPsnId != '' and modPsnId != null">
                MOD_PSN_ID = #{modPsnId},
            </if>
        </set>
        where USER_ID = #{userId}
    </update>

    <update id="deleteUserInfo" parameterType="com.group.sh.smarthome.entity.TblUser">
        update tbl_user
        <set>
            DEL_ID = '1',
            MOD_TM = now(),
            <if test="modPsnId != '' and modPsnId != null">
                MOD_PSN_ID = #{modPsnId},
            </if>
        </set>
        where USER_ID = #{userId}
    </update>

</mapper>
