<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.sh.smarthome.mapper.TblUserMapper">

    <select id="getNextUserID" resultType="java.lang.String">
        SELECT AUTO_INCREMENT FROM INFORMATION_SCHEMA. TABLES WHERE TABLE_NAME = 'tbl_user' AND TABLE_SCHEMA = 'smarthome'
    </select>

    <select id="userLogin" resultType="com.group.sh.smarthome.entity.TblUser" parameterType="com.group.sh.smarthome.entity.TblUser">
        select
            USER_ACCOUNT,USER_PWD,USER_NAME,USER_SEX,USER_AGE,USER_PHONE,
            USER_WORKPHONE,USER_JOB,USER_MAIL,USER_ADDRESS_PROVINCE,USER_ADDRESS_CITY,USER_ADDRESS_AREA,USER_ADDRESS_DETAIL,USER_QQ,USER_WECHAT,
            USER_IDCARDTYPE,USER_IDCARDNUM,USER_HEADURL,USER_RESUME,USER_EDDGRCD,
            USER_DGRCD,USER_GRDT_SCHCD,USER_MJR,USER_GRDTM,USER_STATUS,
            CRT_PSN_ID,CRT_TM,MOD_PSN_ID,MOD_TM,DEL_ID,USER_ROLE
        from tbl_user
        <where>
            <if test="userAccount != '' and userAccount != null ">
                and USER_ACCOUNT = #{userAccount}
            </if>
            <if test="userPwd != '' and userPwd != null ">
                and USER_PWD = #{userPwd}
            </if>
        </where>

    </select>

    <insert id="addUserInfo" parameterType="com.group.sh.smarthome.entity.TblUser" useGeneratedKeys="true" keyProperty="userId">
        insert into
        tbl_user(USER_ACCOUNT,USER_PWD,USER_NAME,USER_SEX,USER_AGE,USER_PHONE,
                 USER_WORKPHONE,USER_JOB,USER_MAIL,USER_ADDRESS_PROVINCE,USER_ADDRESS_CITY,USER_ADDRESS_AREA,USER_ADDRESS_DETAIL,USER_QQ,USER_WECHAT,
                 USER_IDCARDTYPE,USER_IDCARDNUM,USER_HEADURL,USER_RESUME,USER_EDDGRCD,
                 USER_DGRCD,USER_GRDT_SCHCD,USER_MJR,USER_GRDTM,USER_STATUS,
                 CRT_PSN_ID,CRT_TM,MOD_PSN_ID,MOD_TM,DEL_ID,USER_ROLE)
        values
            (#{userAccount},#{userPwd},#{userName},#{userSex},#{userAge},#{userPhone},
             #{userWorkphone},#{userJob},#{userMail},#{userAddressProvince},#{userAddressCity},#{userAddressArea},#{userAddressDetail},#{userQq},#{userWechat},
             #{userIdcardtype},#{userIdcardnum},#{userHeadurl},#{userResume},#{userEddgrcd},
             #{userDgrcd},#{userGrdtSchcd},#{userMjr},#{userGrdtm},#{userStatus},
             #{crtPsnId},now(),#{modPsnId},#{modTm},'0',#{userRole})
    </insert>

    <update id="updateUserInfo" parameterType="com.group.sh.smarthome.entity.TblUser">
        update tbl_user
        <set>
            DEL_ID = '0',
            MOD_TM = now(),
            <if test="userPwd != '' and userPwd != null">
                USER_PWD = #{userPwd},
            </if>
            <if test="userName != '' and userName != null">
                USER_NAME = #{userName},
            </if>
            <if test="userSex != '' and userSex != null">
                USER_SEX = #{userSex},
            </if>
            <if test="userAge != '' and userAge != null">
                USER_AGE = #{userAge},
            </if>
            <if test="userPhone != '' and userPhone != null">
                USER_PHONE = #{userPhone},
            </if>
            <if test="userWorkphone != '' and userWorkphone != null">
                USER_WORKPHONE = #{userWorkphone},
            </if>
            <if test="userJob != '' and userJob != null">
                USER_JOB = #{userJob},
            </if>
            <if test="userMail != '' and userMail != null">
                USER_MAIL = #{userMail},
            </if>
            <if test="userAddressProvince != '' and userAddressProvince != null">
                USER_ADDRESS_PROVINCE = #{userAddressProvince},
            </if>
            <if test="userAddressCity != '' and userAddressCity != null">
                USER_ADDRESS_CITY = #{userAddressCity},
            </if>
            <if test="userAddressArea != '' and userAddressArea != null">
                USER_ADDRESS_AREA = #{userAddressArea},
            </if>
            <if test="userAddressDetail != '' and userAddressDetail != null">
                USER_ADDRESS_DETAIL = #{userAddressDetail},
            </if>
            <if test="userQq != '' and userQq != null">
                USER_QQ = #{userQq},
            </if>
            <if test="userWechat != '' and userWechat != null">
                USER_WECHAT = #{userWechat},
            </if>
            <if test="userIdcardtype != '' and userIdcardtype != null">
                USER_IDCARDTYPE = #{userIdcardtype},
            </if>
            <if test="userIdcardnum != '' and userIdcardnum != null">
                USER_IDCARDNUM = #{userIdcardnum},
            </if>
            <if test="userHeadurl != '' and userHeadurl != null">
                USER_HEADURL = #{userHeadurl},
            </if>
            <if test="userResume != '' and userResume != null">
                USER_RESUME = #{userResume},
            </if>

            <if test="userEddgrcd != '' and userEddgrcd != null">
                USER_EDDGRCD = #{userEddgrcd},
            </if>
            <if test="userDgrcd != '' and userDgrcd != null">
                USER_DGRCD = #{userDgrcd},
            </if>
            <if test="userGrdtSchcd != '' and userGrdtSchcd != null">
                USER_GRDT_SCHCD = #{userGrdtSchcd},
            </if>
            <if test="userStatus != '' and userStatus != null">
                USER_STATUS = #{userStatus},
            </if>
            <if test="modPsnId != '' and modPsnId != null">
                MOD_PSN_ID = #{modPsnId},
            </if>
        </set>
        where USER_ACCOUNT = #{userAccount}
    </update>

    <!--    用户个人头像修改-->
    <update id="uploadUserHeadInfo" parameterType="com.group.sh.smarthome.entity.TblUser">
        update tbl_user
        <set>
            DEL_ID = '0',
            MOD_TM = now(),
            <if test="userHeadurl != '' and userHeadurl != null">
                USER_HEADURL = #{userHeadurl},
            </if>
            <if test="modPsnId != '' and modPsnId != null">
                MOD_PSN_ID = #{modPsnId},
            </if>
        </set>
        where USER_ACCOUNT = #{userAccount}
    </update>


    <!--    查找账单信息列表-->
    <resultMap type="com.group.sh.smarthome.entity.TblHisbill" id="BillListMap">
        <result column="hisbillId" property="hisbillId"></result>
        <result column="hisbillName" property="hisbillName"></result>
        <result column="hisbillDetail" property="hisbillDetail"></result>
        <result column="hisbillBegintime" property="hisbillBegintime"></result>
        <result column="hisbillEstreptm" property="hisbillEstreptm"></result>
        <result column="hisbillEndtime" property="hisbillEndtime"></result>
        <result column="hisbillAmount" property="hisbillAmount"></result>
        <result column="hisbillMen" property="hisbillMen"></result>
        <result column="hisbillMenphone" property="hisbillMenphone"></result>
        <result column="hisbillType" property="hisbillType"></result>
        <result column="hisbillStatus" property="hisbillStatus"></result>
        <result column="crtPsnId" property="crtPsnId"></result>
        <result column="crtTm" property="crtTm"></result>
    </resultMap>
    <select id="findALLBillList" resultMap="BillListMap" parameterType="com.group.sh.smarthome.resultbean.PageListEntity">
        SELECT
            bill.HISBILL_ID as hisbillId,
            bill.HISBILL_NAME as hisbillName,
            bill.HISBILL_DETAIL as hisbillDetail,
            bill.HISBILL_BEGINTIME as hisbillBegintime,
            bill.HISBILL_ESTREPTM as hisbillEstreptm,
            bill.HISBILL_ENDTIME as hisbillEndtime,
            bill.HISBILL_AMOUNT as hisbillAmount,
            bill.HISBILL_MEN as hisbillMen,
            bill.HISBILL_MENPHONE as hisbillMenphone,
            bill.HISBILL_TYPE as hisbillType,
            bill.HISBILL_STATUS as hisbillStatus,
            user.USER_NAME as crtPsnId,
            bill.CRT_TM as crtTm
        FROM tbl_hisbill bill
        left join tbl_user user on bill.CRT_PSN_ID = user.USER_ACCOUNT
        <where>
            and bill.DEL_ID = 0
            <if test="objectOne != '' and objectOne != null ">
                and  bill.HISBILL_ID like concat('%',#{objectOne},'%')
            </if>
            <if test="objectTwo != '' and objectTwo != null ">
                and  bill.HISBILL_NAME like concat('%',#{objectTwo},'%')
            </if>
            <if test="objectThree != '' and objectThree != null ">
                and  bill.HISBILL_MEN like concat('%',#{objectThree},'%')
            </if>
            <if test="objectFour != '' and objectFour != null ">
                and  bill.HISBILL_MENPHONE = #{objectFour}
            </if>
            <if test="objectFive != '' and objectFive != null ">
                and  bill.HISBILL_TYPE = #{objectFive}
            </if>
            <if test="account != '' and account != null ">
                and  user.USER_ACCOUNT = #{account}
            </if>
            <if test="findDate != '' and findDate != null ">
                <![CDATA[   and DATE_FORMAT(bill.HISBILL_ENDTIME, '%Y-%m-%d')=  DATE_FORMAT(#{findDate}, '%Y-%m-%d')   ]]>
            </if>
            <if test=" startTime != '' and startTime != null">
                <![CDATA[   and DATE_FORMAT(bill.HISBILL_BEGINTIME, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
            </if>
            <if test=" endTime != '' and endTime != null">
                <![CDATA[   and DATE_FORMAT(bill.HISBILL_BEGINTIME, '%Y-%m-%d')<=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')   ]]>
            </if>
        </where>
        order by bill.CRT_TM desc,bill.MOD_TM desc limit #{page},#{limit}

    </select>

    <!--    查找账单信息列表记录条数-->
    <select id="findALLBillListCount" resultType="java.lang.Long" parameterType="com.group.sh.smarthome.resultbean.PageListEntity">
        select count(1)
        FROM tbl_hisbill bill
        left join tbl_user user on bill.CRT_PSN_ID = user.USER_ACCOUNT
        <where>
            and bill.DEL_ID = 0
            <if test="objectOne != '' and objectOne != null ">
                and  bill.HISBILL_ID like concat('%',#{objectOne},'%')
            </if>
            <if test="objectTwo != '' and objectTwo != null ">
                and  bill.HISBILL_NAME like concat('%',#{objectTwo},'%')
            </if>
            <if test="objectThree != '' and objectThree != null ">
                and  bill.HISBILL_MEN like concat('%',#{objectThree},'%')
            </if>
            <if test="objectFour != '' and objectFour != null ">
                and  bill.HISBILL_MENPHONE = #{objectFour}
            </if>
            <if test="objectFive != '' and objectFive != null ">
                and  bill.HISBILL_TYPE = #{objectFive}
            </if>
            <if test="account != '' and account != null ">
                and  user.USER_ACCOUNT = #{account}
            </if>
            <if test="findDate != '' and findDate != null ">
                <![CDATA[   and DATE_FORMAT(bill.HISBILL_ENDTIME, '%Y-%m-%d')=  DATE_FORMAT(#{findDate}, '%Y-%m-%d')   ]]>
            </if>
            <if test=" startTime != '' and startTime != null">
                <![CDATA[   and DATE_FORMAT(bill.HISBILL_BEGINTIME, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
            </if>
            <if test=" endTime != '' and endTime != null">
                <![CDATA[   and DATE_FORMAT(bill.HISBILL_BEGINTIME, '%Y-%m-%d')<=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')   ]]>
            </if>
        </where>
    </select>

    <!-- 新增账单信息-->
    <insert id="addBillInfo" parameterType="com.group.sh.smarthome.entity.TblHisbill" useGeneratedKeys="true" keyProperty="hisbillId">
        insert into
            tbl_hisbill(HISBILL_NAME,HISBILL_DETAIL,HISBILL_BEGINTIME,HISBILL_ESTREPTM,HISBILL_ENDTIME,HISBILL_AMOUNT,
                        HISBILL_MEN,HISBILL_MENPHONE,HISBILL_TYPE,HISBILL_STATUS,
                     CRT_PSN_ID,CRT_TM,MOD_PSN_ID,MOD_TM,DEL_ID)
        values
        (#{hisbillName},#{hisbillDetail},#{hisbillBegintime},#{hisbillEstreptm},#{hisbillEndtime},
         #{hisbillAmount},#{hisbillMen},#{hisbillMenphone},#{hisbillType},#{hisbillStatus},
         #{crtPsnId},now(),#{modPsnId},#{modTm},'0')
    </insert>

    <update id="updateBillInfo" parameterType="com.group.sh.smarthome.entity.TblHisbill">
        update tbl_hisbill
        <set>
            DEL_ID = '0',
            MOD_TM = now(),
            HISBILL_BEGINTIME = #{hisbillBegintime},
            HISBILL_ESTREPTM = #{hisbillEstreptm},
            <if test="hisbillName != '' and hisbillName != null">
                HISBILL_NAME = #{hisbillName},
            </if>
            <if test="hisbillDetail != '' and hisbillDetail != null">
                HISBILL_DETAIL = #{hisbillDetail},
            </if>
            <if test="hisbillAmount != '' and hisbillAmount != null">
                HISBILL_AMOUNT = #{hisbillAmount},
            </if>
            <if test="hisbillMen != '' and hisbillMen != null">
                HISBILL_MEN = #{hisbillMen},
            </if>
            <if test="hisbillMenphone != '' and hisbillMenphone != null">
                HISBILL_MENPHONE = #{hisbillMenphone},
            </if>
            <if test="hisbillType != '' and hisbillType != null">
                HISBILL_TYPE = #{hisbillType},
            </if>
            <if test="hisbillStatus != '' and hisbillStatus != null">
                HISBILL_STATUS = #{hisbillStatus},
            </if>
            <if test="modPsnId != '' and modPsnId != null">
                MOD_PSN_ID = #{modPsnId},
            </if>
        </set>
        where HISBILL_ID = #{hisbillId}
    </update>

    <update id="updateBillEndTime" parameterType="com.group.sh.smarthome.entity.TblHisbill">
        update tbl_hisbill
        <set>
            DEL_ID = '0',
            MOD_TM = now(),
            HISBILL_ENDTIME = now(),
            <if test="modPsnId != '' and modPsnId != null">
                MOD_PSN_ID = #{modPsnId},
            </if>
        </set>
        where HISBILL_ID = #{hisbillId}
    </update>

    <update id="deleteBillInfo" parameterType="com.group.sh.smarthome.entity.TblHisbill">
        update tbl_hisbill
        <set>
            DEL_ID = '1',
            MOD_TM = now(),
            <if test="modPsnId != '' and modPsnId != null">
                MOD_PSN_ID = #{modPsnId},
            </if>
        </set>
        where HISBILL_ID = #{hisbillId}
    </update>



</mapper>
