<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>关于我们</title>
    <link rel="icon" th:href="@{/publicimage/logo.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/usercss/homePage.css}" media="all"/>
    <script type="text/javascript" src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}" src="/layui/layui.js"></script>
    <script type="text/javascript" th:src="@{/userjs/homePage.js}"></script>
</head>
<body>
<!-- nav部分 -->
<div class="nav">
    <div class="layui-container">
        <!-- 公司logo -->
        <div class="nav-logo">
            <a href="/smarthome/user/path/homePage">
                <img th:src="@{/publicimage/logo.png}" alt="智慧家庭">
            </a>
        </div>
        <div class="nav-list">
            <button>
                <span></span><span></span><span></span>
            </button>
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><a href="/smarthome/user/path/product">产品</a></li>
<!--                <li class="layui-nav-item"><a href="/smarthome/user/path/news">动态</a></li>-->
                <li class="layui-nav-item"><a href="/smarthome/user/path/about">关于</a></li>
                <li class="layui-nav-item"><a href="javascript:void(0);" id="userLogin">Sign in</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- banner部分 -->
<div class="banner about">
    <div class="title">
        <p>关于我们</p>
        <p class="en">About Us</p>
    </div>
</div>
<!-- main部分 -->
<div class="main-about">
    <div class="layui-container">
        <div class="layui-row">
            <ul class="aboutab">
                <li class="layui-this">公司简介</li><li>招贤纳士</li><li>发展历程</li>
            </ul>
            <div class="tabIntro">
                <div class="content">
                    <div class="layui-inline img"><img th:src="@{/homeImg/us_img1.jpg}"></div><div class="layui-inline panel">
                    <p>公司秉承简单便捷，界面风格多样化等信念，打造适合家庭使用的易用平台。</p>
                </div>
                </div>
                <div class="content">
                    <div class="layui-inline panel p_block">
                        <p>如果眼下还是一团零星之火，那运筹帷幄之后，迎面东风，就是一场烈焰燎原吧，那必定会是一番尽情的燃烧。待，秋风萧瑟时，散作满天星辰，你看那四季轮回，正是我们不灭的执念。</p>
                    </div><div class="layui-inline img"><img th:src="@{/homeImg/us_img2.jpg}"></div>
                    <p class="p_hidden">如果眼下还是一团零星之火，那运筹帷幄之后，迎面东风，就是一场烈焰燎原吧，那必定会是一番尽情的燃烧。待，秋风萧瑟时，散作满天星辰，你看那四季轮回，正是我们不灭的执念。</p>
                </div>
                <div class="content">
                    <div class="layui-inline img"><img th:src="@{/homeImg/us_img3.jpg}"></div><div class="layui-inline panel">
                    <p>拥有双面的不仅是人生，还有smarthome。一面极简，一面丰盈。极简是视觉所见的外在，是开发所念的简易。丰盈是倾情雕琢的内在，是信手拈来的承诺。一切本应如此，简而全，双重体验。</p>
                </div>
                </div>
            </div>
            <div class="tabJob">
                <div class="content">
                    <p class="title">前端开发工程师</p>
                    <p>> 职位描述</p>
                    <ol>
                        <li>前端开发及维护工作；</li>
                        <li>有良好的技术基础，熟悉 Web 标准，熟练掌握多种 Web 前端技术；</li>
                        <li>掌握行业内流行的类库，Vue.js， React 等主流框架；</li>
                        <li>参与公司前端工程的设计、研发；</li>
                        <li>了解不同浏览器之间的差异，移动设备之间的差异。</li>
                    </ol>
                </div>
                <div class="content">
                    <p class="title">IOS 开发工程师</p>
                    <p>> 职位描述</p>
                    <ol>
                        <li>前端开发及维护工作；</li>
                        <li>有良好的技术基础，熟悉 Web 标准，熟练掌握多种 Web 前端技术；</li>
                        <li>掌握行业内流行的类库，Vue.js， React 等主流框架；</li>
                        <li>参与公司前端工程的设计、研发；</li>
                        <li>了解不同浏览器之间的差异，移动设备之间的差异。</li>
                    </ol>
                </div>
                <div class="content">
                    <p class="title">JAVA 工程师</p>
                    <p>> 职位描述</p>
                    <ol>
                        <li>前端开发及维护工作；</li>
                        <li>有良好的技术基础，熟悉 Web 标准，熟练掌握多种 Web 前端技术；</li>
                        <li>掌握行业内流行的类库，Vue.js， React 等主流框架；</li>
                        <li>参与公司前端工程的设计、研发；</li>
                        <li>了解不同浏览器之间的差异，移动设备之间的差异。</li>
                    </ol>
                </div>
            </div>
            <div class="tabCour">
                <p class="title">我们的蜕变</p>
                <ul class="timeline">
                    <li class="odd">
                        <div class="cour-img"><img th:src="@{/homeImg/us_img4.png}"></div>
                        <div class="cour-panel layui-col-sm4 layui-col-lg5">
                            <p class="label">2020 年 12 月</p>
                            <p>我们成立了，来到了厦门这座美丽的城市。</p>
                        </div>
                    </li>
<!--                    <li>-->
<!--                        <div class="cour-img"><img th:src="@{/homeImg/us_img5.png}"></div>-->
<!--                        <div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">-->
<!--                            <p class="label">2017 年 6 月</p>-->
<!--                            <p>我们成立了，来到了杭州西湖这个美丽的地方。</p>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="odd">-->
<!--                        <div class="cour-img"><img th:src="@{/homeImg/us_img6.png}"></div>-->
<!--                        <div class="cour-panel layui-col-sm4 layui-col-lg5">-->
<!--                            <p class="label">2017 年 6 月</p>-->
<!--                            <p>我们成立了，来到了杭州西湖这个美丽的地方。</p>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <div class="cour-img"><img th:src="@{/homeImg/us_img7.png}"></div>-->
<!--                        <div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">-->
<!--                            <p class="label">2017 年 6 月</p>-->
<!--                            <p>我们成立了，来到了杭州西湖这个美丽的地方。</p>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="odd">-->
<!--                        <div class="cour-img"><img th:src="@{/homeImg/us_img8.png}"></div>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- footer部分 -->
<div class="footer">
    <div class="layui-container">
        <p class="footer-web">
            <a href="/smarthome/user/path/homePage">首页</a>
            <a href="javascript:void(0);" id="a1">百度</a>
            <a href="javascript:void(0);" id="a2">哔哩哔哩</a>
            <a href="javascript:void(0);" id="a3">使用条款</a>
            <a href="javascript:void(0);" id="a4">隐私保护</a>
        </p>
        <div class="layui-row footer-contact">
            <div class="layui-col-sm2 layui-col-lg1"><img th:src="@{/homeImg/erweima.jpg}"></div>
            <div class="layui-col-sm10 layui-col-lg11">
                <div class="layui-row">
                    <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
                        <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;400-888-888&nbsp;&nbsp;(9:00-18:00)</p>
                        <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;smarthome@outlook.com</span></p>
                    </div>
                    <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
                        <p class="contact-top"><span class="right">© 2020 - 智慧家庭信息管理平台</span></p>
                        <p class="contact-bottom"><span class="right">Copyright&nbsp;©&nbsp;2020-2021&nbsp;&nbsp;Mr.Fan 版权所有</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>