<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>智慧家庭信息管理平台</title>
    <link rel="icon" th:href="@{/publicimage/logo.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/usercss/homePage.css}" media="all"/>
    <script type="text/javascript" src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}" src="/layui/layui.js"></script>
    <script type="text/javascript" th:src="@{/userjs/homePage.js}"></script>
</head>
<body>
<!-- nav部分 -->
<div class="nav index">
    <div class="layui-container">
        <!-- 公司logo -->
        <div class="nav-logo">
            <a href="/smarthome/user/path/homePage">
                <img th:src="@{/publicimage/logo.png}" alt="智慧家庭">
            </a>
        </div>
        <div class="nav-list">
            <button>
                <span></span><span></span><span></span>
            </button>
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><a href="/smarthome/user/path/product">产品</a></li>
<!--                <li class="layui-nav-item"><a href="/smarthome/user/path/news">动态</a></li>-->
                <li class="layui-nav-item"><a href="/smarthome/user/path/about">关于</a></li>
                <li class="layui-nav-item"><a href="javascript:void(0);" id="userLogin">Sign in</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- banner部分 -->
<div>
    <div class="layui-carousel" id="banner">
        <div carousel-item>
            <div>
                <img th:src="@{/homeImg/banner1.jpg}">
            </div>
            <div>
                <img th:src="@{/homeImg/banner2.jpg}">
            </div>
            <div>
                <img th:src="@{/homeImg/banner3.jpg}">
            </div>
        </div>
    </div>
</div>
<!-- main部分 -->
<div class="main-product">
    <div class="layui-container">
        <p class="title">专为家庭信息安全开发的<span>核心产品</span></p>
        <div class="layui-row layui-col-space25">
            <div class="layui-col-sm6 layui-col-md3">
                <div class="content">
                    <div><img th:src="@{/homeImg/Big_icon1.png}"></div>
                    <div>
                        <p class="label" id="p1">家庭信息</p>
                        <p id="p2">为家庭信息资料提供安全的保障。</p>
                    </div>
                    <a href="javascript:void(0);" id="a5">查看更多 ></a>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3 ">
                <div class="content">
                    <div><img th:src="@{/homeImg/Big_icon2.png}"></div>
                    <div>
                        <p class="label" id="p3">简易使用</p>
                        <p id="p4">系统采用简易化设计，让使用者轻松驾驭。</p>
                    </div>
                    <a href="javascript:void(0);" id="a6">查看更多 ></a>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3 ">
                <div class="content">
                    <div><img th:src="@{/homeImg/Big_icon3.png}"></div>
                    <div>
                        <p class="label" id="p5">账单管理</p>
                        <p id="p6">提供账单管理功能，实现家庭式收入支出管理。</p>
                    </div>
                    <a href="javascript:void(0);" id="a7">查看更多 ></a>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3 ">
                <div class="content">
                    <div><img th:src="@{/homeImg/Big_icon4.png}"></div>
                    <div>
                        <p class="label" id="p7">数据统计</p>
                        <p id="p8">为客户提供清晰明了的统计汇总，轻松掌握一切信息。</p>
                    </div>
                    <a href="javascript:void(0);" id="a8">查看更多 ></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-service">
    <div class="layui-container">
        <p class="title">为客户打造完美的<span>专业服务</span></p>
        <div class="layui-row layui-col-space25 layui-col-space80">
            <div class="layui-col-sm6">
                <div class="content">
                    <div class="content-left"><img th:src="@{/homeImg/home_img1.jpg}"></div>
                    <div class="content-right">
                        <p class="label">1 对 1 上手指导</p>
                        <span></span>
                        <p>通过对使用人员进行1对1指导，从而实现快速掌握。</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="content">
                    <div class="content-left"><img th:src="@{/homeImg/home_img2.jpg}"></div>
                    <div class="content-right">
                        <p class="label">快速响应的服务</p>
                        <span></span>
                        <p>我司提供更快更便捷的专业服务，为客户排忧解难。</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="content">
                    <div class="content-left"><img th:src="@{/homeImg/home_img3.jpg}"></div>
                    <div class="content-right">
                        <p class="label">功能使用便捷</p>
                        <span></span>
                        <p>该系统提供更为人性化的功能使用界面，简单易懂。</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="content">
                    <div class="content-left"><img th:src="@{/homeImg/home_img4.jpg}"></div>
                    <div class="content-right">
                        <p class="label">系统升级</p>
                        <span></span>
                        <p>为客户提供完善的系统功能定制，一切以客户为主。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-more"></div>
    </div>
</div>
<!-- footer部分 -->
<div class="footer">
    <div class="layui-container">
        <p class="footer-web">
            <a href="/smarthome/user/path/homePage">首页</a>
            <a href="javascript:void(0);" id="a1">百度</a>
            <a href="javascript:void(0);" id="a2">哔哩哔哩</a>
            <a href="javascript:void(0);" id="a3">使用条款</a>
            <a href="javascript:void(0);" id="a4">隐私保护</a>
        </p>
        <div class="layui-row footer-contact">
            <div class="layui-col-sm2 layui-col-lg1"><img th:src="@{/homeImg/erweima.jpg}"></div>
            <div class="layui-col-sm10 layui-col-lg11">
                <div class="layui-row">
                    <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
                        <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;400-888-888&nbsp;&nbsp;(9:00-18:00)</p>
                        <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;smarthome@outlook.com</span></p>
                    </div>
                    <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
                        <p class="contact-top"><span class="right">© 2020 - 智慧家庭信息管理平台</span></p>
                        <p class="contact-bottom"><span class="right">Copyright&nbsp;©&nbsp;2020-2021&nbsp;&nbsp;Mr.Fan 版权所有</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>