<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>菜单权限管理</title>
    <script th:src="@{/layui/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script ype="text/javascript" th:src="@{/js/adminjs/menuManager.js}"></script>
    <link rel="stylesheet" th:href="@{/css/admincss/menuManager.css}" media="all">
</head>
<body>
    <blockquote class="layui-elem-quote news_search" id="searchTable">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" value="" id="menuName" placeholder="请输入菜单标题" class="layui-input search_input">
            </div>
            <button type="button" class="layui-btn layui-btn-primary" data-type="reload"><i class="layui-icon">&#xe615;</i>查询</button>
        </div>
        <div class="layui-input-inline">
            <button type="button" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe654;</i>新增</button>
        </div>
    </blockquote>


    <table class="layui-hide" id="menuTable" lay-filter="menuTable"></table>

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="isAll">验证是否全选</button>
        </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
    </script>


</body>
</html>