<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>系统日志列表维护</title>
    <script th:src="@{/layui/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script th:src="@{/js/adminjs/protectSystemLog.js}"></script>
    <link rel="stylesheet" th:href="@{/css/admincss/protectSystemLog.css}" media="all">
</head>
<body>
<form class="layui-form" style="width:80%;margin-top: 2%">
    <div class="layui-form-item" style="display: none">
        <input type="hidden" id="method" name="method" value="">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">日志编码:</label>
        <div class="layui-input-block">
            <input type="text" id="syslogId" name="syslogId" class="layui-input" autocomplete="off" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">操作人:</label>
        <div class="layui-input-block">
            <input type="text" id="syslogOperator" name="syslogOperator" class="layui-input" autocomplete="off" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">操作人账号:</label>
        <div class="layui-input-block">
            <input type="text" id="syslogOperatorAccount" name="syslogOperatorAccount" class="layui-input" autocomplete="off" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">操作内容:</label>
        <div class="layui-input-block">
            <input type="text" id="syslogDetail" name="syslogDetail" class="layui-input"  autocomplete="off" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">操作类型:</label>
        <div class="layui-input-block">
            <select name="syslogType" id="syslogType">
                <option value=""></option>
                <option value="0">新增</option>
                <option value="1">修改</option>
                <option value="2">删除</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">操作结果:</label>
        <div class="layui-input-block">
            <select name="syslogResult" id="syslogResult">
                <option value=""></option>
                <option value="0">正常</option>
                <option value="1">异常</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">操作地址IP:</label>
        <div class="layui-input-block">
            <input type="text" id="syslogIp" name="syslogIp" class="layui-input"  autocomplete="off" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">操作时间:</label>
        <div class="layui-input-block">
            <input type="text" id="syslogTime" name="syslogTime" class="layui-input"  autocomplete="off" >
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn"  id="returnPage">返回</button>
        </div>
    </div>


</form>
</body>
</html>