<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>角色信息维护页面</title>
    <script th:src="@{/layui/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script th:src="@{/js/adminjs/protectRole.js}"></script>
    <link rel="stylesheet" th:href="@{/css/admincss/protectRole.css}" media="all">
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;margin-top: 2%">
    <div class="layui-form-item" style="display: none">
        <input type="hidden" id="method" name="method" value="">
    </div>
    <div class="layui-form-item" style="display: none">
        <input type="hidden" id="roleId" name="roleId" value="">
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">角色名称:</label>
        <div class="layui-input-block">
            <input type="text" id="roleName" name="roleName" class="layui-input " lay-verify="roleName" autocomplete="off" placeholder="请输入角色名称">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">角色类型:</label>
        <div class="layui-input-block">
            <select name="roleType" id="roleType" lay-verify="required">
                <option value=""></option>
                <option value="0">超级管理员</option>
                <option value="1">普通管理员</option>
                <option value="2">普通用户</option>
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit lay-filter="roleSubmit" id="roleSubmit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="roleReset">重置</button>
        </div>
    </div>
</form>
</body>
</html>